Source: amphp-hpack
Section: php
Priority: optional
Maintainer: Katharina Drexel <katharina.drexel@bfh.ch>
Build-Depends:
 debhelper-compat (= 13),
 phpab,
 pkg-php-tools,
Rules-Requires-Root: no
Standards-Version: 4.6.1
Homepage: https://github.com/amphp/hpack
Vcs-Browser: https://github.com/sunflowerbofh/php-amphp-hpack
Vcs-Git: https://github.com/sunflowerbofh/php-amphp-hpack.git

Package: php-amphp-hpack
Architecture: all
Depends:
 ${misc:Depends},
 ${phpcomposer:Debian-require},
Suggests:
 ${phpcomposer:Debian-suggest},
Replaces:
 ${phpcomposer:Debian-replace},
Breaks:
 ${phpcomposer:Debian-conflict},
Provides:
 ${phpcomposer:Debian-provide},
Description: HTTP/2 HPack implementation
 AMPHP is a collection of high-quality, event-driven libraries for PHP designed
 with fibers and concurrency in mind.
 .
 HTTP/2 supports a new dedicated header compression algorithm, called HPACK.
 HPACK was developed with attacks like CRIME in mind, and is therefore
 considered safe to use.
